/* Litespeed CSS Colors */

body {
  color: var(--body-color);
  background-color: var(--body-background-color);
}

h6, .h6 {
  color: #6a737d;
}

a {
  color: var(--action-color);
}

pre, code {
  background-color: var(--pre-background-color);
  border-radius: var(--pre-border-radius);
}

hr {
  border: 0;
  height: .25rem;
  background-color: #e1e4e8;
}

/* button styles */
.btn {
  text-decoration:    none;
  font-family:        inherit;
  font-size:          .875rem;
  font-weight:        700;
  font-weight:        500;
  cursor:             pointer;
  display:            inline-block;
  line-height:        1.125rem;
  padding:            var(--space-1) var(--space-2);
  margin:             0;
  height:             auto;
  border:             1px solid transparent;
  vertical-align:     middle;
  -webkit-appearance: none;
  color:              inherit;
  background-color:   transparent;
}

.btn-primary {
  color: var(--btn-color);
  background-color: var(--action-color);
  border-radius: 3px;
}

.border        {
  border-style:        var(--rule-border-style);
  border-width:        var(--rule-border-width);
  border-color:        var(--rule-border-color);
}
.border-top    {
  border-top-style:    var(--rule-border-style);
  border-top-width:    var(--rule-border-width);
  border-top-color:    var(--rule-border-color);
}
.border-right  {
  border-right-style:  var(--rule-border-style);
  border-right-width:  var(--rule-border-width);
  border-right-color:  var(--rule-border-color);
}
.border-bottom {
  border-bottom-style: var(--rule-border-style);
  border-bottom-width: var(--rule-border-width);
  border-bottom-color: var(--rule-border-color);
}
.border-left   {
  border-left-style:   var(--rule-border-style);
  border-left-width:   var(--rule-border-width);
  border-left-color:   var(--rule-border-color);
}

.border-none {
  border: 0;
}

.circle {
  border-radius: 50%;
}
.rounded {
  border-radius: var(--rule-border-radius);
}
.rounded-top {
  border-top-left-radius: var(--rule-border-radius);
  border-top-right-radius: var(--rule-border-radius);
}
.rounded-right {
  border-top-right-radius: var(--rule-border-radius);
  border-bottom-right-radius: var(--rule-border-radius);
}
.rounded-bottom {
  border-bottom-left-radius: var(--rule-border-radius);
  border-bottom-right-radius: var(--rule-border-radius);
}
.rounded-left {
  border-top-left-radius: var(--rule-border-radius);
  border-bottom-left-radius: var(--rule-border-radius);
}

.is-warning  {}
.is-error    {}
.is-success  {}
.is-disabled {}
.is-readonly {}

:root {
  --body-color:            #24292E;
  --body-background-color: #fff;
  
  /* branding colors */
  --primary-color: ;
  --secondary-color: ;
  --action-color: #07c;
  --border-color: ;
  
  /* button colors */
  --space-1: ;
  --space-2: ;
  --btn-color: #fff;
  
  /* status colors */
  --warning-color: ;
  --error-color: ;
  --success-color: ;
  --disabled-color: ;
  --readonly-color: ;
  
  /* pre, code colors */
  --pre-background-color: #f6f8fa;
  --pre-border-radius: 3px;
  
  --rule-border-style: solid;
  --rule-border-width: 1px;
  --rule-border-color: #eaecef;
  --rule-border-radius: 3px;
}
