/* Litespeed CSS Reset */

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui,sans-serif;
  line-height: 1.5;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

a {
  text-decoration: none;
}

a:not(.btn):hover {
  text-decoration: underline;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 16px;
}

h1, .h1 { font-size: var(--h1) }
h2, .h2 { font-size: var(--h2) }
h3, .h3 { font-size: var(--h3) }
h4, .h4 { font-size: var(--h4) }
h5, .h5 { font-size: var(--h5) }
h6, .h6 { font-size: var(--h6) }

.h1, .h2, .h3,
.h4, .h5, .h6 {
  line-height: 1.25;
}

p, dl, ol, ul, pre, blockquote {
  margin-top:    1rem;
  margin-bottom: 1rem;
}

code,
pre {
  font-family:
    'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

code {
  padding: 0.2rem 0.4rem;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

pre {
  overflow: auto;
  padding: 16px;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
  word-wrap: normal;
}

pre::-webkit-scrollbar {
  display: none;
}

pre > code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
}

blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 0;
}

hr {
  overflow: hidden;
  background: transparent;
  margin: 1.5rem 0;
  padding: 0;
}

table {
  display: block;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: var(--space-1);
}

.input, .select, .textarea { height: 2.5rem; }

.input {
  font-family:   inherit;
  font-size:     inherit;
  display:       block;
  width:         100%;
  padding:       var(--space-1);
  margin-bottom: var(--space-2);
  border:        1px solid #ccc;
  border-radius: 3px;
}

.input {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
}

fieldset, input, select, textarea {
  font-family:  inherit;
  font-size:    1rem;
  box-sizing:   border-box;
  margin-top:   0;
  margin-bottom: 0;
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  height: 2.25rem;
  padding: 0.5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

.label { vertical-align: middle; }

.field {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 3px;
}

html {
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .85rem;
  --space-1: 1rem;
  --space-2: 2rem;
}
