/* Litespeed CSS Reset */

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui,sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  line-height: 1.5;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

a {
  text-decoration: none;
}

a:not(.btn):hover {
  text-decoration: underline;
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 16px;
}

h1, .h1 { font-size: 2rem    }
h2, .h2 { font-size: 1.5rem  }
h3, .h3 { font-size: 1.25rem }
h4, .h4 { font-size: 1rem    }
h5, .h5 { font-size: .875rem }
h6, .h6 { font-size: .85rem  }

p, dl, ol, ul, pre, blockquote {
  margin-top:    1rem;
  margin-bottom: 1rem;
}

code,
pre {
  font-family:
    'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
}

code {
  padding: 0.2rem 0.4rem;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

pre {
  overflow: scroll;
  padding: 16px;
  font-size: 85%;
  line-height: 1.45;
  border-radius: 3px;
  word-wrap: normal;
}

pre > code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
}

blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 0;
}

hr {
  overflow: hidden;
  background: transparent;
  margin: 1.5rem 0;
  padding: 0;
}
