/* Variables*/

:root {
  --space-1:   0.5rem;
  --space-2:   1rem;
  --space-3:   2rem;
  --space-4:   4rem;

  --rule-border-style: solid;
  --rule-border-width: 1px;
  --rule-border-color: rgba(0,0,0,.125);
  --rule-border-radius: 3px;
}
